/* app style */


body {
  background-color: #dbbb83;
  text-transform: capitalize;
  width: 960px;
  align-content: center;
  margin: auto;
}

header {
  background: linear-gradient(#944029, #dbbb83);
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}

header img {
  float: left;
  width: 260px;
  display: block;
  margin-left: 20px;
  padding-right: 20px;
}

h1 {
  float: left;
  padding-left: 30px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 50px;
  margin: 0px
}

header section img {
  margin-top: 12px;
  float: left;
  margin-right: 20px;
}

main {
  width: 960px;
  margin-top: 10px;
  float: left;
}

.top-images {
  float: left;
  margin-left: 100px;
  margin-bottom: 40px;
}

.talk-about-self p {
  clear: both;
  display: block;
  margin: auto;
  font-size: 24px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 900px;
}

.middle-data {
  float: left;
  margin-left: 30px;
  width: 960px;
  display: inline-block;
}

.middle-img {
  width: 400px;
  display: initial;
}

.middle-img img {
  width: 400px;
}

.middle-list {
  float: right;
  margin-right: 120px;
  font-size: 14px;
  font-family: 'Pacifico', 'cursive';
}

.list-times {
  float: right;
}

.middle-data ul:last-child {
  font-family: 'Pacifico', 'cursive';
  letter-spacing: 2px;
}

.lower-title {
  clear: both;
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

.lower-data li {
  display: inline-block;
  font-size: 24px;
  font-family: 'Pacifico', 'cursive';
  margin-left: 20px;
  letter-spacing: 2px;
  background: radial-gradient(#8d4d2d, #dbba83, #dbba83);
  text-align: center;
  margin-right: 40px;
}

.lower-img img {
  float: left;
  width: 200px;
  margin-right: 70px;
  margin-left: 45px;
  margin-bottom: 60px;
}

#shell {
  margin: 0 auto;
  font-size: 18px;
}

#form-for-stores {
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(178,87,47, 0.4);
  border-radius: 45px;
  font-family: 'Pacifico', cursive;
}

#submit-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #695846;
  color: #fff;
  padding: 8px 18px;
  border-radius: 3px;
  border: none;
}

#store-table {
  background: #c1b49a;
}
fieldset {
  border: 0;
  padding: 5px;
}

th, td {
  padding: 3px;
}
thead {
  text-decoration: underline;
}

a {
  color: brown;
}

nav ul li {
  display: inline-block;
  width: 200px;
  margin-top: 30px;
}

nav {
  margin-left: -60px;
}

nav ul {
  text-align: center;
}
footer {
  clear: both;
  background: linear-gradient(#dbbb83, #944029);
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sales-page h1 {
  text-align: center;
  margin: 0 auto;
}
