/* app style */


body {
  background-color: #dbbb83;
  text-transform: capitalize;
}

header {
  background: linear-gradient(#944029, #dbbb83);;
  max-height: 100px;
  width: 100%;
  margin-bottom: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}



header section img {
  margin-top: 12px;
  float: left;
  margin-right: 20px;
}

.heroimage {
  margin-bottom: 30px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  object-fit: scale-down;
}

img {
  border-radius: 5px;
  max-width: 100%;
  object-fit: scale-down;
}

section {
  margin-top: 30px;
  width: 960px;
}

#shell {
  margin: 0 auto;
  font-size: 18px;
}

#form-for-stores {
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(178,87,47, 0.4);
  border-radius: 45px;
  font-family: 'Pacifico', cursive;
}

#submit-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #695846;
  color: #fff;
  padding: 8px 18px;
  border-radius: 3px;
  border: none;
}

#store-table {
  background: #c1b49a;
}
fieldset {
  border: 0;
  padding: 5px;
}

th, td {
  padding: 3px;
}
thead {
  text-decoration: underline;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 7vw;
  margin: 0px
}

main {
  width: 960px;
  margin: 30px auto;
  margin-top: 10px;
}
